* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #FFE7CA;
}

.header {
  /* background-image: url(../imgs/loginbg2.jpg);*/
  height: 15vh;
  background-size: cover;
  background-position: center;
  background-color: #cae2ff;
  border-bottom: solid rgb(109, 206, 223);
}

ol {
  float: left;
  list-style-type: none;
  margin-top: 50px;
  margin-left: 40px;
}

ol li {
  font-size: 30px;
  font-family: Georgia, serif;
  font-weight: bold;
}


ul {
  float: right;
  list-style-type: none;
  margin-top: 50px;
  margin-right: 40px;
}

ul li {
  display: inline-block;
}

ul li a {
  font-size: 16px;
  padding: 8px 30px;
  font-family: cursive;
  color: black;

}

ul li a:hover {
  color: rgb(32, 146, 146);
}

ul li.active a {
  color: rgb(151, 138, 138);
}

*{box-sizing: border-box;}



h3{
  text-align: center;
  font-size: 6vh;
  font-family: cursive;
  
}

input[type=text],input[type=email],select{
  height: 10%;
  width: 50vw;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea{
  height: 80px;
  width: 50vw;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:rgb(233, 211, 106);
  transition: 0.5s ease;
}


.container {
  color: rgb(233, 211, 106);
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 20px;
}

.container .error{
  background: #4ced9d;
  color: #1d8551;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
}